*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
html,body{
  height: 100%;
}
.clear{
  clear:both;
}
header{
  width:100%;
  height: 90vh;
  min-height: 800px;
  /* max-height:700px; */
  background-image:url("../images/capa.png");
  background-size:cover;
  background-position:center;
  padding: 40px 2%;
  font-weight: 300;
}
.logo{
  position: relative;
  top: -5px;
  float:left;
  width:160px;
  height:70px;
  background-image: url("../images/face");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
header nav{
  float:right;
}
nav.mobile-menu{
  cursor: pointer;
  width:32px;
  height: 32px;
  background-image:url('../images/menu.png');
  background-size: 100% 100%;
  display:none;
}
nav.mobile-menu:hover ul{
  opacity: 1;
}
nav.mobile-menu ul{
  opacity: 0;
  transition: 500ms;
  background-color:white;
  position: absolute;
  width: 100%;
  left: 0;
  top: 80px;
  color: white;
  list-style-type: none;
  text-align: center;
}
nav.mobile-menu ul li{
  border-bottom: 1px solid black;
  padding:8px 0;
  transition:500ms;
}
nav.mobile-menu ul li:hover{
  background-color:rgb(220,230,230);
}
nav.mobile-menu ul li a{
  text-decoration: none;
  color:black;
}
header nav.desktop-menu ul{
  list-style-type:none;
}
header nav.desktop-menu li{
  margin: 0 20px;
  float:left;
}
header nav.desktop-menu a{
  text-decoration: none;
  color:white;
}
.chamada1{
  max-width:600px;
  float:right;
  margin: 170px 210px;
}
.chamada1 h2{
  font-size:40px;
  color:white;
  font-weight: 300;
}
.chamada1 p{
  font-size: 15px;
  color:white;
  margin-top: 10px;
}
.container{
  max-width:1280px;
  margin: 0 auto;
}
section.section1{
  width:100%;
  background-color: #472560;
  padding: 0 2%;
  height: 400px;
}
section.section1 .container{
  max-width: 1000px;
  height: calc(100% + 30px);
}
.section1-text{
  float: left;
  width: 50%;
  color: white;
  margin-top:60px;
  padding-left:80px;
  position:relative;
  left:55px;
}
.section1-text h2{
  font-size:26px;
  font-weight: 300;
}
.section1-text p{
  margin-top:20px;
  font-size: 18px;
}
.section1-text ul{
  font-size: 15px;
  list-style-position: outside;
  padding-left: 15px
}
.section1-text ul li{
  width: 100%;
  margin-top:8px;
}
.button1-txt{
  background-color:#FF703D;
  width:165px;
  height: 44px;
  color:white;
  cursor: pointer;
  margin-top: 30px;
  text-align: center;
  line-height:44px;
  border-radius:30px;
  font-size:13px;
}
.device-section1{
  float:left;
  width:50%;
  height: 100%;
  background-image: url("../images/device.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position:relative;
  top:-30px;
}
section.section2{
  padding-left: 2%;
  padding-right: 2%;
  background-color: white;
  text-align:center;
}
section.section2 .container{
  max-width: 1000px;
}
section.section2 h2{
  color: #472663;
  font-weight: 300;
}
section.section2 p{
  margin-top: 30px;
  max-width: 900px;
  display: inline-block;
}
section.section2 img{
  position:relative;
  top:70px;
  width: 100%;
  margin-top: 10px;
}
section.section3{
  width:100%;
}
section.section3 .parte1{
  color: white;
  float: left;
  width: 50%;
  padding: 140px 0  90px 0;
  background-color: #835Fa7;
}
.wraper-parte1{
  max-width:600px;
  float:right;
  padding:0 30px;
}
section.section3 .parte1 h2{
  font-weight: 300;
  font-style: italic;
  font-size: 23px;
}
section.section3 .parte1 p{
  font-size: 15px;
  line-height: 35px;
  margin-top: 10px;
}
section.section3 .parte2{
  float: left;
  width: 50%;
  float: left;
  padding: 140px 0 90px 0;
  /* background-color: red; */
}
section.section3 .parte2 .about{
  float:left;
  max-width: 600px;
  padding-left: 30px;
}
section.section3 .parte2 .about .author{
  float:left;
  width:100%;
}
section.section3 .parte2 .about .author .wraper-author-title{
  float:left;
}
section.section3 .parte2 .about .author h2{
  color: #232323;
  font-weight: 400;
  font-size: 22px;
  padding-right: 30px;
}
.author p{
  font-size: 15px;
  color: #232323; 
  font-style:italic;
  font-weight: 300;
}
section.section3 .parte2 .about .author .img-author{
  float: left;
  background-image: url("../images/face");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius:20px;
  position:relative;
  top: -4px;
  background-color: gray;
}
.author-text{
  float:left;
  width:100%;
  margin-top: 10px;
}
.author-text{
  color: #232323;
  font-size: 15px;
}
.slider-bullets{
  width:100%;
  padding-left: 30px;
  margin-top: 12px;
  float: left;
}
.slider-bullets span{
  float:left;
  width: 16px;
  height: 16px;
  border-radius:8px;
  margin-right: 8px;
  cursor: pointer;
  background-color: rgb(200,200,200);
}
section.section4{
   background-color: #472563;
   padding: 100px 0;
}
.form{
  float: left;
  width: 50%;
  color: white;
  padding-left: 10px;
}
.form h2{
  color:  white;
  font-size: 23px;
  font-weight: 300;
}
.form p{
  font-size: 15px;
  font-weight: 300;
  max-width: 400px;
  padding-right: 10px;
}
.form form{
  margin-top: 15px;
}
.form form input[type=text]{
  width: 90%;
  max-width: 480px;
  height: 58px;
  margin-top: 5px;
  padding-left: 8px;
  line-height: 58px;
  border: 1px solid rgb("200,200,200");
}
.form form textarea{
  width: 90%;
  margin-top: 8px;
  max-width: 480px;
  padding: 15px;
  border: 1px solid rgb(200,200,200);
  height: 160px;
}
.form form input[type=submit]{
  border: 0;
  background-color:#FF703D;
  width:165px;
  height: 44px;
  color:white;
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
  border-radius:30px;
  font-size:18px;
}
.map-wraper{
  float:left;
  width: 50%;
}
.map-wraper h2{
  color: white;
  font-size:23px;
  font-weight: 300;
  padding: 0 10px;
}
.map-wraper2{
  margin-top: 10px;
  width: 100%;
  max-width: 480px;
  position: relative;
}
.map-wraper3{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 100%;
}
.map{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:white;
  border: 5px solid rgb(200, 200, 200);
}
footer{
  padding: 40px 0;
  background-color: #192123;
  color: white;
  padding: 40px 2%;
}
footer p:nth-of-type(1){
  float: left;
  font-size: 14px;
}
footer p:nth-of-type(2){
  float: right;
  font-size: 14px;
}
@media screen and (max-width: 830px){
  
  .chamada1{
    max-width: none;
    width: 100%;
    text-align: center;
    float: none;
    margin: 170px 0;
  }
  .chamada1 h2{
    font-weight: 300;
    font-size: 30px;
    padding: 0 0;
    color:white;
  }
  .chamada1 p{
    font-size: 15px;
    color:white;
    margin-top:10px;
  }
}
@media screen and (max-width: 768px){
  header{
    width:100%;
    height: auto;
    min-height: 90vh;
    padding: 40px 2%;
  }
  nav.desktop-menu{
    display:none;
  }
  nav.mobile-menu{
    display: block;
  }
  section.section1{
    padding: 40px 2%;
    height: auto;
    text-align:center;
  }
  .chamada1{
    max-width: none;
    width: 100%;
    text-align: center;
    float: none;
    margin: 100px 0;
  }
  .chamada1 h2{
    font-weight: 300;
    font-size: 30px;
    padding: 0 0;
    color:white;
  }
  .chamada1 p{
    font-size: 15px;
    color:white;
    margin-top:10px;
  }
  .section1-text{
    margin-top:0;
    padding-left: 0;
    position: static;
    float: none;
    display: inline-block;
    width:100%;
  }
  .section1-text ul {
    display: inline-block;
    margin-top: 20px;
  }
  .section1-text ul li{
    float: none;
    text-align: left;
  }
  .button1-txt{
    display: inline-block;
  }
  .device-section1{
    display: none;
  }
  section.section2{
    padding: 40px 2%;
  }
  section.section4 .container{
    text-align: center;
  }
  .form{
    float: none;
    width: 100%;
  }
  .form p{
     display: inline-block;
  }
  .map-wraper{
    float: none;
    width: 100%;
    margin-top: 40px;
    padding:0 8%;
  }
  .map-wraper2{
    margin-top: 10px;
    width: 80%;
    padding-top: 80%;
    display: inline-block;
    max-width: none;
    position: relative;
  }
  .map-wraper3{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding-top: 0;
  }
}
@media screen and (max-width: 580px){
  section.section3 .parte1{
    width: 100%;
    padding: 30px 0;
  }
  section.section3  .parte2{
    width: 100%;
    padding: 40px 0;
  }
  section.section2 img{
    margin-top: 20px;
    top: 16px;
  }
  footer{
    text-align:center;
  }
  footer p:nth-of-type(1){
    float: none;
  }
  footer p:nth-of-type(2){
    float: none;
    margin-top: 8px;
  }
}
/* @media screen and (max-width:930px){

  section.section1 .section1-text{
    margin-top: -10px;
  }
  section.section1 .device-section1{
    top:-130px;
  }
} */
